/* TodoItem.css */
.todo_item {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
}
.todo_item_checkbox_label {
    display: flex;
    align-items: center;
    margin-left: auto;
    /* Pushes the checkbox to the right */
}

.todo_item_checkbox {
    margin-right: 5px;
}

.todo_title {
   
        font-size: 18px;
        font-weight: bold;
        margin: 0;
}

.todo_date,
.todo_priority {
font-size: 14px;
    margin: 5px 0;
}

.button_container {
    display: flex;
    justify-content: space-between;
}

.edit_button,
.delete_button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.edit_button:hover,
.delete_button:hover {
    background-color: #ddd;
}

.edit_button {
    background-color: #007BFF;
    color: #fff;
}

.delete_button {
    background-color: #ff5733;
    color: #fff;
}