.todo_list {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.todo_list button{
    background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 3px;
        padding: 10px 15px;
        cursor: pointer;
}
.todo_list h1{
    
    margin: 20px;
}
.button_container {
    display: flex;
    justify-content: space-between;
}

.todo_list h1 {
    font-size: 24px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
/* TodoListHeader.css */

.todo_list_header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo_list_header h1 {
    font-size: 24px;
    margin: 0;
}

.todo_list_header button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.todo_list_header button:hover {
    background-color: #c0392b;
}